---
InheritParentConfig : true
Checks : >
    -readability-magic-numbers,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-function-cognitive-complexity,
    -readability-function-size, -readability-identifier-length,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-avoid-do-while,
    -modernize-use-trailing-return -type,
    -readability-identifier-naming,
    -readability-uppercase-literal-suffix
