---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  concurrency-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type

WarningsAsErrors: 'modernize-use-std-print,performance-*'
CheckOptions:
  readability-function-size.LineThreshold: '100'
  readability-function-size.StatementThreshold: '50'
  readability-function-size.BranchThreshold: '10'
  readability-function-size.ParameterThreshold: '5'
  readability-function-size.NestingThreshold: '4'
  readability-function-size.VariableThreshold: '15'
  # Configure modernize-use-std-format to use fmt::format instead of std::format
  modernize-use-std-format.ReplacementFormatFunction: 'fmt::format'
  modernize-use-std-format.FormatHeader: '<fmt/format.h>'
  modernize-use-std-format.StrFormatLikeFunctions: 'absl::StrFormat'
  modernize-use-std-print.ReplacementPrintFunction: 'fmt::print'
  modernize-use-std-print.ReplacementPrintlnFunction: 'fmt::println'

  readability-identifier-naming.NamespaceCase: lower_case
  

  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.ClassConstantCase: UPPER_CASE
  readability-identifier-naming.StaticConstantCase: UPPER_CASE

  readability-identifier-naming.FunctionCase: lower_case

  readability-identifier-naming.VariableCase: lower_case

  readability-identifier-naming.PrivateMemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _

  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
HeaderFilterRegex: '.*'